@import "./veriables.scss";
// @import "~react-pro-sidebar/dist/scss/styles.scss";
@import "./components";

.dynamic-wrapper {
  .screen-size {
    height: "100vh";
    overflow: "auto";
    padding-bottom: "180px";
    padding-left: "220px";
    padding-right: "220px";
  }
  .sado-table-container .thead-light {
    background-color: #dcdcdc;
    height: 45px !important;
  }
  .sado-table-container .sado-table-container-time {
    background-color: #dcdcdc;
    height: 45px !important;
  }
  .staff-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #1d1d1b;
  }
  .cross-schdule {
    position: "absolute";
    left: "-68px";
    background-color: "blue";
    width: "60px";
    height: "60px";
    border-radius: "50%";
    display: "flex";
    justify-content: "center";
    align-items: "center";
  }
  .p-100 {
    padding: 25%;
  }
  .center-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .vh-69 {
    height: 69vh;
  }
  .vh-50 {
    height: 50vh;
  }
  .break-word {
    overflow-wrap: break-word;
  }
  .selected-attribute {
    border: 2px solid #ffd705;
    border-radius: 10px;
    padding: 2px 0px 2px 0px;
  }
  .side_nav_main_1 {
    height: 97vh;
    overflow: auto;
    width: 3%;
    transition: width 0.7s ease; /* Smooth transitions for width and margin */
    border-top: 0.025rem solid #ffd705;
    border-right: 0.025rem solid #ffd705;
    border-top-right-radius: 0.625rem;
    background-color: white;
    cursor: pointer;
    // z-index: 99999 !important;
    position: absolute;
  }

  .side_nav_main_1.expanded {
    width: 14%;
    margin: auto;
    margin-left: 0; /* Reset margin-left */
    transition: width 0.7s ease;
    z-index: 99999999999999 !important;
    position: absolute;
  }

  @media (max-width: 500px) {
    .side_nav_main_1.expanded {
      width: 150px;
    }
  }
  .errorMessage {
    font-size: $font-12;
    color: $red;
    line-height: 1.125rem;
    text-align: left;
  }
  .fade-in-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: #000000 !important;
  }

  .fade-in-text.visible {
    opacity: 1;
  }

  .react-tel-input .selected-flag .arrow {
    top: 60% !important;
    left: 5px !important;
  }

  .css-i4bv87-MuiSvgIcon-root {
    color: grey !important;
    border-radius: 6.25rem !important;
    padding: 0.25rem !important;
  }

  .css-1db085k-MuiSvgIcon-root {
    color: grey !important;
    background-color: white !important;
    border-radius: 100px !important;
    padding: 4px !important;
  }

  .rbc-row-content {
    // display: none !important;
  }
  .rbc-date-cell {
    flex: 1 1;
    min-width: 0;
    padding-left: 5px;
    text-align: left;
  }
  /*.rbc-btn-group{
  display: none !important;
} */
  .tooltip-status {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.72px;
    text-align: left;
  }
  .tooltip-time {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.72px;
    text-align: left;
    color: #626262;
  }
  .tooltip-customer {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    text-align: left;
    color: #2c2c2c;
  }
  .tooltip-services {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.72px;
    text-align: left;
    color: #838383;
  }
  .tooltip-attribute {
    font-family: Roboto;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.38px;
    // text-align: left;
    color: #aba7a7;
  }
  .tooltip-card {
    background-color: #fff;
    padding: 6px;
    border-radius: "4px";
  }
  .rbc-toolbar-label {
    font-weight: 600;
    text-align: start;
    padding: 2;
    color: #5599ff;
  }

  .rbc-time-view {
    border: none !important;
  }

  .rbc-time-header-content {
    border: none !important;
  }

  .rbc-time-header-content > .rbc-row.rbc-row-resource {
    border-bottom: 0 !important;
    height: 3rem !important;
  }

  .rbc-time-content > * + * > * {
    border-left: 0 !important;
  }

  /* .rbc-toolbar{
  display: none !important;
} */
  .rbc-timeslot-group {
    min-height: 2.6rem !important;
  }
  .w-100p {
    width: 200px;
  }
  .rbc-time-slot {
    height: 100%;
  }

  .rbc-event {
    border: 1px solid white !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    left: 0 !important;
  }

  .rbc-label {
    display: flex;
    justify-content: center;
    text-align: center !important;
    min-width: 3.125rem !important;
    font-weight: 500 !important;
    font-size: 0.645rem !important;
    margin-top: -2px !important;
    color: #5b5b5b !important;
  }
  .group-texted {
    font-size: 13px;
    color: #9e9e9e;
  }

  .rbc-events-container {
    // min-width: 13vw !important;
    width: 100% !important;
    left: 0 !important;
    margin-right: 2px !important;
    border-right: 0.2px solid #666666 !important;
  }
  .container-less-more {
    text-align: center;
    margin: auto;
    /* justify-content: space-evenly; */
    max-width: 30rem;
  }

  .geeks {
    color: green;
  }
  .audio-container {
    position: relative;
  }

  .no-preview-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    display: none;
  }
  .list-group {
    position: relative;
    display: block;
    padding: 10;
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    // border: 1px solid #f8f8f8 !important;
  }

  .audio-container:hover .no-preview-label {
    display: block;
    color: "#000";
  }

  .text-read-hide-less {
    display: inline;
    width: 90%;
  }

  .read-or-hide {
    color: rgb(192, 192, 192);
    cursor: pointer;
  }
  .rbc-header {
    // height: 3.75rem !important;
    color: #000;
    // font-size: 20px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .rbc-month-header > div:nth-child(1), /* Saturday */
.rbc-month-header > div:nth-child(7) {
    /* Sunday */
    color: red;
  }

  .rbc-event-label {
    font-weight: 700;
    display: none !important;
  }

  .rbc-event {
    font-weight: 600;
  }

  // .rbc-time-view-resources .rbc-header,
  // .rbc-time-view-resources .rbc-day-bg {
  //   width: 13vw !important;
  // }

  .rbc-time-content > .rbc-day-slot {
    width: 100% !important;
    // min-width: 13vw !important;
  }

  .rbc-today {
    background-color: transparent !important;
  }

  .react-datepicker-wrapper {
    width: 40px !important;
    margin-left: -40px !important;
  }

  .react-datepicker__input-container input {
    text-align: center !important;
  }

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 100% !important;
  }

  .react-datepicker__triangle {
    left: 40px !important;
  }

  .rbc-toolbar button {
    border: none !important;
    font-weight: 500 !important;
  }

  .rbc-active {
    background-color: #5599ff !important;
    color: white !important;
  }

  .rbc-btn-group button:hover {
    background-color: rgb(107, 107, 107);
  }

  .react-datepicker-popper {
    z-index: 99 !important;
    inset: 0px auto auto -51px !important;
  }

  .rbc-month-view {
    height: 100vh !important;
  }

  // .rbc-current-time-indicator {
  //   background-color: #ffffff !important;
  //   border: 1px solid #FE0000 !important;
  //   border-radius: 100px;
  //   z-index: 99999999999999 !important;
  // }
  .rbc-current-time-indicator {
    display: none !important;
  }

  .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    padding: 0 !important;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #5599ff !important;
  }

  .css-1aquho2-MuiTabs-indicator {
    background-color: #5599ff !important;
  }

  .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    display: none !important;
  }

  .css-74e2me-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
    border: none !important;
  }

  .css-13xfq8m-MuiTabPanel-root {
    padding: 0px !important;
  }

  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    display: flex;
    align-items: center;
  }

  .css-19khbc0-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
    display: none !important;
  }

  /* .css-l4u8b9-MuiInputBase-root-MuiInput-root:before{
  display: none !important;
} */
  .rbc-time-header .rbc-overflowing {
    border: none !important;
  }

  .rbc-time-view-resources .rbc-time-gutter,
  .rbc-time-view-resources .rbc-time-header-gutter {
    border: none !important;
  }

  .rbc-time-content {
    border-top: 2px solid darkgray !important;
    border-bottom: 2px solid darkgray !important;
    padding-top: 1px;
    // padding-bottom: 5px;
  }
  .weekdays-container {
    position: absolute;
    display: flex;
    /* justify-content: space-around; */
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    left: 80px;
    right: 0;
  }

  .weekday {
    flex: 1;
    // text-align: center;
    font-weight: 500;
    // padding: 10px;
    background-color: #fff;
    // border: 1px solid #ddd;
    // margin: 75px;
    box-sizing: border-box;
  }
  .something-text {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    color: "#424242";
  }
  .something-text2 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    color: #9e9e9e;
  }

  .rbc-time-view .rbc-time-header {
    height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    // background-color: anas;
    // margin: 0rem 0 !important;
  }

  .rbc-time-view {
  }
  .rbc-time-content > .rbc-time-gutter {
    border-right: 1px solid #ddd !important;
  }

  .rbc-event {
    border-radius: 5px !important;
    padding: 0 !important;
    border-width: 1px !important;
    min-height: 1rem !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 0.03rem !important;
  }
  .something-text {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    color: "#424242";
  }
  .something-text2 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    color: #9e9e9e;
  }
  textarea:focus {
    outline: none;
  }

  .rbc-timeslot-group {
    border: none !important;
  }

  .rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #e3e3e3 !important;
  }

  .react-datepicker-popper[data-placement^="bottom"]
    .react-datepicker__triangle::after {
    display: none !important;
  }

  .react-datepicker-popper[data-placement^="bottom"]
    .react-datepicker__triangle::before {
    display: none !important;
  }

  .pt1 {
    background-color: #343a40 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
      linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000) !important;
  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 3.2px 8px !important;
  }

  /* Customize the scrollbar for Firefox */
  ul.dropdown-menu {
    scrollbar-width: thin; /* Thin scrollbar for Firefox */
    scrollbar-color: #ffbf00 #f1f1f1; /* Thumb and track colors */
  }

  .ellipsis {
    // width: 100px;
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
  }

  .booking_customer_name {
    font-size: 12px;
    text-transform: capitalize;
    margin: 0px;
  }

  .booking_service_name {
    font-size: 12px;
    font-weight: 400;
    margin: 7px 0px;
  }

  .booking_time {
    font-size: 10px;
    margin: 0px;
    font-weight: normal;
  }

  // .rbc-event .rbc-event-content {
  // display: flex;
  // align-items: center;
  // padding: 0 !important;
  // }

  .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    // padding: .75rem;
    position: relative;
    width: 100%;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .rbc-calendar {
    height: 99.7% !important;
  }
  .b-white {
    background-color: "#fff";
  }

  // *:hover {
  //   border: 1px solid #ffbf00;
  // }

  @media (max-width: 700px) {
    .rbc-time-view-resources .rbc-header,
    .rbc-time-view-resources .rbc-day-bg {
      width: 70px !important;
    }
    .rbc-time-content > .rbc-day-slot {
      min-width: 70px !important;
    }
    .rbc-events-container {
      min-width: 70px !important;
    }

    .booking_customer_name {
      font-size: 9px;
    }

    .booking_service_name {
      font-size: 8px;
    }

    .booking_time {
      font-size: 7px;
    }
  }
}
